.customisation-container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    color: #5a5a5a;
}

.customisation-option-container {
    width: 900px;
    height: 515px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    gap: 175px;
    place-items: center stretch;

}

.customisation-option {
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-radius: 35px;
    border-color: #b2a9b8;
    padding: 30px;
    padding-top: 23px;
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.2s ease-in;
    height: 113px;
}

.customisation-option:hover,
.submit-container:hover {
    background-color: #eeeeee;
}

.customisation-option-icon {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 100px;
    height: 100px;
}

.customisation-option-title {
    margin: 0;
    font-size: 28px;
}

.customisation-option.active {
    background-color: #dfdfe7;
}

.submit-container {
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    border-color: #b2a9b8;
    padding: 15px 30px;
    font-size: 20px;
    transition: background-color 0.2s ease-in;
    cursor: pointer;
}

.submit-container>p {
    margin: 0
}

.page-content {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}