.page-content {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.centred-text {
    width: 70%;
    height: 200px;
}

.story-text {
    font-size: 30px;
    text-align: center;
}

.board-container {
    width: 1000px;
    height: 800px;
    display: flex;
}

.players-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.players-container>div {
    padding: 50px 0;
    font-size: 20px;
}

.speech-marker {
    font-weight: bold;
}

.speech-marker.mc {
    color: #fad637;
}

.speech-marker:not(.mc) {
    color: #2a95c7;
}